/* chỉnh cho độ dài của thẻ td khi ký tự quá dài sẽ chuyển thành ... */
.container-fluid table td {
    max-width: 150px;
    /* giới hạn độ dài của cột */
    overflow: hidden;
    text-overflow: ellipsis;
    /* thêm dấu chấm ba */
    white-space: nowrap;
}

/* chỉnh sửa cố định phần ảnh tránh vỡ */
.container-fluid td img {
    max-width: 100px;
    /* Giới hạn chiều rộng tối đa của ảnh */
    max-height: 100px;
    /* Giới hạn chiều cao tối đa của ảnh */
    width: auto;
    /* Đảm bảo ảnh không bị bóp méo */
    height: auto;
    /* Đảm bảo ảnh không bị bóp méo */
    display: block;
    /* Đảm bảo ảnh nằm trong một khung cố định */
    margin: 0 auto;
    /* Căn giữa ảnh trong khung */
}

/* css cho input search */
.breadcrumb .input-group {
    position: relative;
    display: flex;
    width: 400px;
}

.breadcrumb .form-control {
    border-radius: 0;
}

.breadcrumb .btn-warning {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
}

.breadcrumb .btn-warning i {
    margin-right: 5px;
}

/* Thêm hiệu ứng hover */
.breadcrumb .form-control:hover {
    border-color: brown;
}

/* css phan trang */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination__link {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 16px;
    text-decoration: none;
    color: #555;
    transition: all 0.2s ease-in-out;
}

.pagination__link:hover {
    background-color: #f1f1f1;
}

.pagination__link--active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination__link--prev,
.pagination__link--next {
    font-weight: bold;
}

.pagination__control {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #007bff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.pagination:hover .pagination__control {
    display: block;
}

.pagination__control--prev {
    left: 0;
}

.pagination__control--next {
    right: 0;
}

/* css image hover change */
.image-container {
    position: relative;
    display: inline-block;
}


.image-container img {
    max-width: 100%;
    max-height: 100%;
    width: 60%;
    height: 60%;
    border-radius: 6%;
}

.file-input-wrapper {
    position: absolute;
    bottom: 0;
    right: 41%;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.image-container:hover .file-input-wrapper {
    opacity: 1;
}

.btn_upload {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #444;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    background-color: #444;
    color: white;
}

.image-container input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.profile {
    margin-top: 1%;
}